@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$violet: #4c4981;

/*======= SCROLL BAR */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: $violet;
}
::-webkit-scrollbar-thumb{
    // border-radius: 5px;
    background: gainsboro;
    box-shadow: inset 0 0 5px;
}

::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement{
    color: gainsboro;
    background: $violet;
    box-shadow: inset 0 0 10px;
}
::-webkit-scrollbar-button:vertical:increment{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-button:vertical:decrement{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*======= SCROLL BAR */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    // grid-template-columns: repeat(12, 1fr);
    min-width: 1207px;
    @media only screen and (max-width: 892px){
        grid-template-columns: 5% 1fr 5%;
    }
    @media only screen and (max-width: 650px){
        grid-template-columns: 3% 1fr 3%;
    }
}
.container2 {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    z-index: 5;
    min-width: 1207px;
    @media only screen and (max-width: 892px){
        width: 90%;
    }
}
.container > * {
    grid-column: 2;
    min-width: 0;
}
a {
    color: white;
    text-decoration: none;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
.btn {
    background: #1e9f1e;
    padding: 4px 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    display: table;
    cursor: pointer;
}
.Overlay{
    font-size: 30px;
    color: white;
    text-align: center;
    background: rgba(76, 73, 129, 0.95);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    cursor: pointer;
}
.modal-wrapper {
    width: 80%;
    background: gainsboro;
    box-shadow: 0 0 10px;
    position: fixed;
    bottom: 10px;
    top: 10vh;
    overflow-y: auto;
    @media only screen and (max-width: 892px){
        width: 90%;
    }
}
.Header {
    background: $violet;
    color: white;
    .Header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: inline-flex;
            ul {
                display: inherit;
                li{
                    list-style: none;
                    margin: 0 5px;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }
        img{
            max-width: 60px;
            max-height: 60px;
        }
        .center {
            .language {
                img {
                    width: 20px;
                    margin: 0 3px;
                }
            }
        }
        .right {
            .btn {
                background: #1e9f1e;
                padding: 4px 10px;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    @media only screen and (max-width: 420px){
        .Header-inner{
            .left {
                align-items: center;
                img{
                    max-width: 50px;
                    max-height: 50px;
                }
                font-size: 13px;
                ul{
                    li{
                        font-size: 13px;
                        margin-right: 0;
                    }
                }
            }
            .right{
                .btn{
                    padding: 4px;
                    font-size: 14px;
                    letter-spacing: 0;
                }
            }
        }
    }
}
.Hero{
    box-shadow: inset 0 0 20px;
    background: radial-gradient(ellipse at center, lighten($violet, 43%)  3px, transparent 0px);
    background-size: 40px 40px;
    transition: all 1s;
    &:hover{
        background-size: 20px 20px;
        transition: all 1s;
    }
    .Hero-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        min-height: 80vh;
        @media only screen and (max-width: 850px){
            min-height: 60vh;
            grid-template-columns: 1fr;
            .h-left{
                margin: 150px auto 30px auto;
            }
            .h-left-img{
                display: block !important;
            }
            .h-right{
                display: none;
            }
        }
        .btn{
            background: $violet;
            text-transform: capitalize;
            margin: auto;
        }
        .h-left{
            padding: 10px;
            background: white;
            border: 4px double  $violet;
            text-align: center;
            max-width: 345px;
            position: relative;
            .h-left-text{
                h1{
                    font-size: 1.5em;
                    color: $violet;
                    margin-top: 0;
                    span{
                        display: block;
                        text-decoration: underline;
                        text-decoration-color: $violet;
                    }
                }
                h3{
                    font-weight: normal;
                    font-size: 1em;
                }
            }
            .h-left-text > * {
                max-width: 400px;
            }
            .btn{
                transition: all 1s;
                animation: animGlow 3s infinite;
                border-radius: 22px;
                @media only screen and (max-width: 420px){
                    font-size: 15px;
                }
            }
            .h-left-img{
                width: 150px;
                height: 150px;
                position: absolute;
                top: -64%;
                left: calc(50% - 75px);
                z-index: -1;
                transition: all 1s;
                display: none;
                animation: animLeftImg 5s infinite;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 2px solid $violet;
                }
            }
            &:hover{
                .h-left-img{
                    top: -70%;
                    transition: all 1s;
                    img{
                        background: linear-gradient(to top, $violet, transparent, $violet);
                        transition: all 1s;
                    }
                }
            }
        }
        .h-right{
            transform: perspective(500px) rotateY(-45deg);
            box-shadow: 10px 10px rgb(183, 183, 183);
            border: 5px solid $violet;
            transition: all 0.5s;
            max-width: 500px;
            min-height: 250px;
            position: relative;
            img{
                width: 100%;
                background: white;
                margin-bottom: -4px;
                transition: all 0.5s;
                @media only screen and (max-width: 1045px){
                    max-width: 400px;
                }
            }
            &:hover{
                transition: all 1s;
                transform: perspective(500px) rotateY(0);
                box-shadow: none;
                img{
                    // background: linear-gradient(to top, $violet, transparent, $violet);
                    transition: all 1s;
                }
            }
            &:after{
                content: "";
                position: absolute;
                bottom: 21%;
                left: 38%;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $violet;
                animation: animGlow2 5s infinite;
            }
        }
    }
}
.About{
    color: white;
    background: radial-gradient(ellipse at center, #4c4894 3px, $violet 0px);
    background-size: 40PX 40PX;
    .About-inner {
        display: flex;
        align-items: center;
        min-height: 40vh;
        @media only screen and (max-width: 612px){
            flex-direction: column-reverse;
            padding-bottom: 10px;
            .a-right{
                border-bottom: 1px dotted #6b67ac;
            }
        }
        .a-left{
            .about-card{
                max-width: 400px;
                padding: 5px;
                h4{
                    text-decoration: underline;
                }
                p{
                    text-align: justify;
                    text-decoration: overline;
                    text-decoration-color: #6b67ac;
                    border-bottom:  1px solid #6b67ac;
                }
                .read-more{
                    text-align: right;
                    font-weight: 600;
                    font-style: oblique;
                    cursor: pointer;
                    span{
                        text-decoration: underline;
                        text-decoration-color: #6b67ac;
                    }
                }
            }
        }
        .a-right{
            width: 100%;
            text-align: center;
            h2{
                font-size: 30px;
                color: white;
                letter-spacing: 5px;
            }
            .brand-name {
                display: inline-flex;
                font-size: 20px;
                font-weight: 600;
                div{
                    margin: 1px 4px;
                }
                .sy{

                }
                .name{
                    position: relative;
                    width: 104px;
                    overflow: hidden;
                    background: white;
                    color: $violet;
                    span {
                        position: absolute;
                        // bottom: -100%;
                        left: 50%;
                        opacity: 1;
                        transform: translateX(-50%);
                        width: 0;
                    }
                    .show{
                        // transform: scale(1);
                        bottom: 0;   
                        transition: all 1s;
                        width: 100%;
                    }
                    .hide{
                        // transform: scale(0);
                        // visibility: hidden;
                        // width: 0;
                        top: -100%;
                        opacity: 0;
                        // animation: animName 0.4s; 
                        transition: all 1s;
                    }
                }
                .amp{

                }
            }
        }
    }
}
.Services{
    .services-title{
        text-align: center;
        padding: 40px 10px;
        margin-bottom: 15px;
        border-bottom: 5px dashed $violet;
        h1{
            margin: 5px;
            color: $violet;
        }
        p{
            margin: 0;
        }
    }
    .Services-inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        text-align: center;
        @media only screen and (max-width: 712px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 512px){
            grid-template-columns: 1fr;
        }
        .service-single{
            border: 2px solid $violet;
            cursor: crosshair;
            transition: all .5s;
            &:hover{
                box-shadow: 0 0 20px $violet;
                transition: all .5s;
                h3{
                    &:before, &:after {
                        width: 70%;
                        transition: all 1s;
                    }
                }
            }
            img {
                width: 150px;
                height: 105px;
            }
            h3{
                // border-top: 1px solid $violet;
                // border-bottom: 1px solid $violet;
                position: relative;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    background: $violet;
                    transition: all 1s;
                }
                &:before {
                    top: 0;
                    left: 0;
                }
                &:after {
                    bottom: 0;
                    right: 0;
                }
            }
            p{

            }
        }

    }
}
.Showcase {
    margin-top: 20px;
    .showcase-header{
        text-align: center;
        background: $violet;
        color: white;
        padding: 30px 10px;
        text-transform: capitalize;
        position: relative;
        .showcase-header-text{
            background: $violet;
            max-width: 350px;
            margin: 0 auto;
            h1{
                margin-bottom: 0;
            }
            img{ 
                width: 100px;
                box-shadow: -10px -10px 10px #9694bb73, 10px -10px 10px #9694bb73;
            }

        }
        .barre {
            position: absolute;
            top: 51%;
            left: 10%;
            right: 10%;
            height: 6%;
            background: white;
        }

    }
    .Showcase-inner {
        grid-column: 1 / -1;
        margin: 0 10px;
        .projects-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media only screen and (max-width: 572px){
                grid-template-columns: 1fr;
            }
            .project-single {
                padding: 20px;
                position: relative;
                .project-img{
                    transition: all .5s;
                    position: relative;
                    overflow: hidden;
                    img {
                        // filter: grayscale(100%);
                        transition: all .5s;
                        width: 100%;
                    }
                    .img-overlay{
                        position: absolute;
                        top:  -100%;
                        left: -100%;
                        height: 300%;
                        width: 300%;
                        background: rgba(76, 73, 129, 0.72);
                        transform: rotate(55deg);
                    }
                }
                &:hover{
                    .img-overlay {
                        // filter: grayscale(10%);
                        width: 0;
                        transition: all .5s;
                    }
                }
                .project-text {
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    background: $violet;
                    padding: 10px;
                    min-width: 30%;
                    border: 1px dotted;
                    h3{
                        margin: 0;
                        border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
                    }
                    .project-text-item{
                        .icon{
                            list-style: none;
                            padding: 0 4px;
                            margin: 0 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.AboutModal{
    .modal-wrapper{
        background: white;
    }
    img{
        // width: 100%;
        max-height: 400px;
    }
    .about-content{
        padding: 0 20px;
        h4{
            color: $violet;
        }
    }
}
.AboutModal, .Contact{
    .Contact-wrapper{
        width: 100%;
        background: gainsboro;
        box-shadow: 0 0 10px;
    }
    .Contact-header{
        text-align: center;
        margin-top: 60px;
        h1{
            color: $violet;
            text-transform: uppercase;
        }
        h4{

        }
    }
    .Contact-socials{
        border-bottom: 3px double $violet;
        position: fixed;
        width: 80%;
        @media only screen and (max-width: 892px){
            width: 90%;
            .name{
                display: none;
            }
        }
        ul{
            padding-left: 0;
            display: inline-flex;
            width: 100%;
            background: $violet;
            color: white;
            text-align: center;
            margin: 0;
            border-bottom: 1px solid $violet;
            li{
                list-style: none;
                a {
                    padding: 10px;
                    display: block;
                    transition: all 0.5s;
                }
                &:hover{
                    background: gainsboro;
                    transition: all 0.5s;
                    a{
                        color:  $violet;
                    }
                    .icon{
                        font-size: 15px;
                    }
                }
                
                .icon{
                    font-size: 20px;
                    padding-right: 3px;
                }
                .name{
                    border-left: 1px solid;
                }
            }
        }
    }
    .contact-form{
        padding: 10px 5%;
        h1{
            color: white;
            background: $violet;
            font-size: 20px;
            margin: 0;
            margin-bottom: 20px;
            padding: 10px;
        }
        .conatct-group{
            margin: 10px 0;
            label{
                margin-bottom: 5px;
                color: $violet;
                font-weight: 700;
                span{
                    font-weight: normal;
                    font-size: 14px;
                }
            }
            input, textarea{
                display: block;
                width: 98%;
                padding: 6px 5px;
                margin: 5px 0;
                border: 1px solid rgba(76, 73, 129, 0.65);
                &:focus {
                    outline-color: $violet;
                }
            }
        }
        .btnSubmit{
            text-align: center;
            // margin: 10px auto;
            .btn{
                margin: 0 auto;
                padding: 10px;
                min-width: 30%;
                background: $violet;
                border: none;
            }
        }
        
    }
    
}

.ShowcaseProject{
    .showcase-details{
        .showcase-details-top{
            background: $violet;
            color: white;
            text-align: center;
            padding: 10px;
            border-bottom: 3px double $violet;
            h1{
                font-size: 24px;
                margin: 0;
                span{
                    border-bottom: 1px solid white;
                }
            }
            p{
                margin: 0;
                font-size: 13px;
                .label{
                    font-weight: bolder;
                    margin-left: 5px;
                }
                .item{

                }
                a{
                    text-decoration: underline;
                    text-decoration-color: #6b67ac;
                }
            }
        }
        
    }
    .showcase-header{
        ul{
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            li{
                text-align: center;
                width: 50%;
                padding: 10px;
                background: linear-gradient(90deg, gainsboro,#4c4981, gainsboro);
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                border: 1px solid $violet;
                &.active{
                    background: $violet;
                    text-decoration: underline;
                }
                &.inactive{
                    cursor: pointer;
                }
            }
        }
    }
    .showcase-content{
        padding: 10px;
        .video{
            min-height: 350px;
            .video-player {
                // min-width: 100%;
                width: auto;
                height: auto;
                margin: 0 auto;
                .ytp-title-channel,
                .ytp-title-enable-channel-logo .ytp-title-text{
                    color: $violet;
                }
            }
            // iframe{
            //     min-width: 560px;
            //     margin: 0 auto;
            // }
        }
        .gallery-img{
            display: flex;
            justify-content: center;
            .current-img{
                max-width: 100%;
                margin: 0 auto;
                box-shadow: 0 0 5px;
                margin-bottom: 50px;
            }
            .next-prev{
                position: fixed;
                bottom: 10px;
                width: 79%;
                display: flex;
                justify-content: space-between;
                background: $violet;
                color: white;
                // margin-left: -10px;
                box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.46);
                @media only screen and (max-width: 892px){
                    width: 89%;
                }
                .side{
                    width: 50%;
                    padding: 10px;
                    color: $violet;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        color: white;
                        background: $violet !important;
                        transition: all 0.5s;
                    }
                    &.prev{
                        text-align: right;
                        background: linear-gradient(90deg, $violet, gainsboro);
                        transition: all 0.5s;
                    }
                    &.next{
                        text-align: left;
                        border-left: 1px dotted;
                        background: linear-gradient(90deg, gainsboro, $violet);
                        transition: all 0.5s;
                    }
                }
                .fas{

                }
            }
        }
    }
}
.showcase-details-techStack{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    .tech-stack-label{
        color: $violet;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }
    .tech-stack-items{
        display: flex;
        flex-wrap: wrap;
        .tech-stack-item{
            margin: 4px;
            padding: 0 5px 2px;
            border-radius: 5px;
            font-size: 13px;
        }
    }
}
.Footer {
    background: $violet;
    text-align: center;
    color: white;
    .top{
        padding: 20px;
        h5{
            margin: 5px;
        }
        .btn{
            margin: 0 auto;
        }
    }
    .bottom{
        padding: 3px;
        border-top: 1px solid darken($violet, 10%);
    }
}


@keyframes animName {
    form{
        top: 0;
    }
    to{
        top: -100%;
    }
}

@keyframes animHero {
    0%{
        box-shadow: 0 0 1px lighten($violet, 100%);
    }
    50%{
        box-shadow: 0 0 20px lighten($violet, 1%);
    }
    100%{
        box-shadow: 0 0 1px lighten($violet, 100%);
    }
}
@keyframes animLeftImg {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes animGlow{
    0%
    {
        box-shadow: 0 0 0 0 rgba(91, 51, 136, 0.9);
    }
    40%
    {
        box-shadow: 0 0 0 10px rgba(91, 51, 136, 0)
    }
    80%
    {
        box-shadow: 0 0 0 10px rgba(91, 51, 136, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(91, 51, 136, 0);
    }
 }
@keyframes animGlow2{
    0%
    {
        box-shadow: 0 0 0 0 rgba(91, 51, 136, 0.9);
    }
    40%
    {
        box-shadow: 0 0 0 20px rgba(91, 51, 136, 0)
    }
    80%
    {
        box-shadow: 0 0 0 20px rgba(91, 51, 136, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(91, 51, 136, 0);
    }
 }